.poster-movies {
  transition: transform 200ms ease-in-out 200ms;
  opacity: 0.9;
}

.poster-movies:hover {
  transform: scale(1.05) !important;
  opacity: 1;
}

.btn-more {
  transition: 500ms;
  border: 0px;
}

.btn-more:hover {
  color: red !important;
}

.movies-title {
  font-size: 30px;
}

.btn-back {
  letter-spacing: 0;
  cursor: pointer;
}

.search {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  color: #fff;
}

.movies-options-col {
  justify-content: flex-end;
}

.search:focus {
  outline: 0;
}
.search:focus::placeholder {
  color: #fff;
  transition: 700ms;
}

@media (max-width: 575px) {
  .movies-title-col {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .movies-options-col {
    justify-content: space-around !important;
  }
  .movies-title {
    font-size: 25px;
  }

  #search {
    font-size: 15px;
  }
}
