.poster-movies {
  transition: transform 200ms ease-in-out 200ms;
  opacity: 0.9;
}

.poster-movies:hover {
  transform: scale(1.05) !important;
  opacity: 1;
}

.btn-more {
  transition: 500ms;
  border: 0px;
}

.btn-more:hover {
  color: red !important;
}

.movies-title {
  font-size: 50px;
}
