@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Vollkorn&display=swap");

.bokor-family {
  font-family: "Oswald", sans-serif;
}

.full-bg {
  min-height: 100vh;
}

.text-spacing {
  letter-spacing: 0.05rem;
}
